@model MVCStok.Models.Entity.MUSTERI
@{
    ViewBag.Title = "YeniMüsteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label> Adı</label>
       @Html.TextBoxFor(x=>x.MUSTERIAD,new  {@class ="form-control" })
        @Html.ValidationMessageFor(x => x.MUSTERIAD, "", new {@style="color:red"})
        <label> Soyadı</label>
         <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <br />
    <div>
        <button class="btn btn-info" id="btn1">Müşteri Ekleme</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Müşteri ekleme işlemi yapıldı...')
        });
    </script>

</form>


